* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.changelog-container {
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 2rem auto;
}

.changelog-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.changelog-container p {
    font-size: 1.2em;
    color: gray;
    margin-bottom: 20px;
}

.timeline {
    position: relative;
    margin-top: 2rem;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #000000;
    transform: translateX(-50%);
}

.timeline-item {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    justify-content: center;
}

.timeline-date {
    text-align: center;
    padding-right: 1rem;
    color: gray;
}

.timeline-dot {
    width: 16px;
    height: 16px;
    background-color: #000000;
    border-radius: 50%;
    border: 1px solid #000000;
    justify-self: center;
    z-index: 1;
}

.timeline-data {
    text-align: center;
    padding-left: 1rem;
}

.button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.6rem 1.2rem;
  background-color: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #005fa3;
}