body {
    text-align: left;
    border: 2px solid black;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

hr {
    border: 1.2px solid black;
    width: 100%;
}

