body {
    text-align: left;
    border: 2px solid black;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

hr {
    border: 1.2px solid black;
    width: 100%;
}

.green {
    color: #2F9E44;
    margin-bottom: 15px;
}

.blue {
    color: #1A71C2;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    gap: 0px;
    margin: 0px;
    margin-bottom: 5px;
}

div {
    margin-bottom: 10px;
}

ul {
    margin-left: 0px;
    padding-left: 15px;
}

li {
    margin-left: 0px;
}

.link {
    font-size: 24px;
}